.mainContainer {
    padding: 2rem 1rem;
}

.primeText {
    width: 100%;
    font-weight: 900;
    font-size: 6vw;
}

.secText {
    font-size: 0.8rem;
    color: rgb(180, 179, 179);
    text-align: left;
}

.threeSection {
    width: 100%;
    color: var(--grey-a);
    text-align: center;
    cursor: pointer;
    display: flex;
}

.threeSection div {
    display: inline;
}

/* mobile screen */
@media only screen and (max-width: 768px) {

    .primeText {
        width: 100%;
        font-weight: 700;
        font-size: 6vw;
    }

    .threeSection {
        margin-top: 20px;
        display: flex;
    }

}


/* tablet screen */
@media (min-width: 769px) and (max-width: 1000px) {
    .primeText {
        width: 100%;
        font-weight: 700;
        font-size: 6vw;
    }

    .threeSection {
        margin-top: 20px;
        display: flex;
        gap: 1rem;
    }
}