* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --darkbrown: #261915;
    --brown: #471e10;
    --gray: #999999;
    --beige: #d2c9a0;
    --orange: #dd6900;
    --yellow: #faad17;
    --cinnamon: #794330;
    --darkchoco: #382c28;
  }
  

body {
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
}

::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in WebKit browsers */
}