*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

:root {
    --soft-gray: #A2A5AD;
    --soft-blue: #DCDFE6;
    --light-cream: #F0EDE5;
    --deep-cream: #C6C0B8;
  }

body{
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
}
::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }

