.contentContainer{
  padding: 2rem;
  text-align: center;
}
.header {
  text-align: center;
  width: 100%;
  font-size: 10vw; /* Font size is 10% of the viewport width */
}
.about{
 font-size: 0.8rem;
 color: rgb(180, 179, 179);
 text-align: left;
}

/*IMAGE SECTION ----------------------------------------------------------- */
.imageWrapperContainer {
  display: flex; /* Horizontal layout */
  flex-wrap: wrap; /* Wrap to new line if needed */
  gap: 1rem; /* Space between images */
  padding-top: 2rem;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 1200px;
  height: 900px; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
}

.imageWrapper img { 
  height: 100%; 
  object-fit: contain; 
}

/* mobile screen */
@media only screen and (max-width: 768px) {
  .imageWrapper {
    
    /* Fixed width for images */
    height: 100%; /* Fixed height for images */
    width: 100%;
   padding : 2px; 
  }
}

/* tablet screen */

@media only screen and (max-width: 1000px) {
  .imageWrapper {
    
    width: 100%; /* Fixed width for images */
    height: 300px; /* Fixed height for images */
   padding : 4px; 
  }
}