.contentContainer{
  padding: 2rem;
  text-align: center;
}
.header {
  text-align: center;
  width: 100%;
  font-size: 10vw; /* Font size is 10% of the viewport width */
}
.about{
 font-size: 0.8rem;
 color: rgb(180, 179, 179);
}

/*IMAGE SECTION ----------------------------------------------------------- */
.imageWrapperContainer {
  display: flex; /* Horizontal layout */
  flex-wrap: wrap; /* Wrap to new line if needed */
  gap: 1rem; /* Space between images */
  padding-top: 2rem;
}

.imageWrapper {
  position: relative;
  width: 1200px; /* Fixed width for images */
  height: 1000px; /* Fixed height for images */
  overflow: hidden; /* Hide overflow */
}

.imageWrapper img {
  width: 100%; /* Fill the container */
  height: 100%; /* Fill the container */
  object-fit: cover; /* Ensure image covers the container */
}


@media only screen and (max-width: 768px) {
  .imageWrapper {
    
    width: 100vw; /* Fixed width for images */
    height: 300px; /* Fixed height for images */
   
  }
}